.panel-control{
    opacity: 0;
}
.tab-group label{
    display: inline-block;
    border: 1px solid white;
    border-bottom: none;
    background-color: #c7c7c7;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}
.content-group{
    margin-top: 50px;
    border: 1px solid #ccc;
    padding: 20px;
}
.content-1,.content-2,.content-3{
    display: none;
}
#radio-1:checked ~ .tab-group [for="radio-1"],
#radio-2:checked ~ .tab-group [for="radio-2"],
#radio-3:checked ~ .tab-group [for="radio-3"]{
    background-color: #fff;
}
#radio-1:checked ~ .content-group .content-1,
#radio-2:checked ~ .content-group .content-2,
#radio-3:checked ~ .content-group .content-3{
    display: block;
}

.panel-group{
    margin-top: 50px;
}