* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background: #1b1b1b;
    box-shadow: 5px 0px 10px hsla(240, 40%, 15%, .6);
}

.sidebar .text {
    /* margin-bottom: -30px; */
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 5px;
}

nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: #00CCCC;
    background: #1e1e1e;
    border-left-color: #00CCCC;
}

nav ul ul {
    position: static;
    display: none;
}


/* 從這裡開始 */

nav ul .CPU-show.show1 {
    display: block;
}

nav ul .CPU_INTEL-show.show1-1 {
    display: block;
}

nav ul .CPU_AMD-show.show1-2 {
    display: block;
}

nav ul .MB-show.show2 {
    display: block;
}

nav ul .MB_INTEL-show.show2-1 {
    display: block;
}

nav ul .MB_AMD-show.show2-2 {
    display: block;
}

nav ul .RAM-show.show3 {
    display: block;
}

nav ul .VGA-show.show4 {
    display: block;
}

nav ul .VGA_NVIDIA-show.show4-1 {
    display: block;
}

nav ul .VGA_AMD-show.show4-2 {
    display: block;
}

nav ul .SSD-show.show5 {
    display: block;
}

nav ul .SSD_SATA-show.show5-1 {
    display: block;
}

nav ul .SSD_M2PCIE-show.show5-2 {
    display: block;
}

nav ul .SSD_M2SATA-show.show5-3 {
    display: block;
}


/* 到這裡結束 */

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}


/* nav ul li:hover{
    background: burlywood;
} */

nav ul ul li a:hover {
    color: #00CCCC!important;
    background: #1e1e1e!important;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

.Information_bar {
    height: 70px;
    background-color: #dedede;
}

.sidebar_new {
    margin: -70px;
}

#computer_news {
    position: absolute;
    top: 15px;
    right: 400px;
}

#user {
    position: absolute;
    top: 15px;
    right: 190px;
}

#cart {
    position: absolute;
    top: 15px;
    right: 50px;
}

.news_icon {
    font-size: 16px;
}

.user_icon {
    font-size: 16px;
}

.cart_icon {
    font-size: 16px;
}


/* 從這裡開始，搜尋頁面 */

.search_box {
    position: relative;
    margin: 20px 10px;
    top: 35px;
    left: 250px;
    transform: translate(-50%, -50%);
    width: 500px;
}

input {
    position: relative;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"] {
    width: 190px;
    height: 30px;
    left: -10px;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
    padding: 15px;
}

input[type="submit"] {
    position: relative;
    width: 60px;
    height: 30px;
    left: -15px;
    border-radius: 0 10px 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: #9C9C9C;
    color: #fff;
    font-size: 12px;
}

input[type="submit"]:hover {
    background: #454545;
    transition: .5s;
}


/* 在這裡結束，搜尋頁面 */

#carouselExampleIndicators {
    position: absolute;
    top: 50%;
    left: 50%;
}

.website_logo {
    position: absolute;
    left: 50%;
    width: 180px;
    top: -5px;
}


/* 從這裡開始，輪播 */

#slider {
    width: 81%;
    position: absolute;
    top: 100px;
    left: 308px;
}

#slider input[type=radio] {
    /* 隱藏 */
    display: none;
}

#slider label {
    cursor: pointer;
    /* text-decoration: none; */
}

#slides {
    padding: 10px;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    /* cubic-bezier，調整輪播每一頁的速率。最後的值都為1 */
    transition: margin-left 800ms cubic-bezier(0.5, 0, 0.5, 1);
    width: 400%;
    line-height: 0;
    height: 500px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    /* justify-content主要以主軸線來做排版，參考網站https://w3c.hexschool.com/flexbox/4a029043 */
    justify-content: center;
    /* align-items主要以交錯軸線來做排版，參考網站https://w3c.hexschool.com/flexbox/87d66dc4 */
    align-items: center;
    height: 100%;
    color: #fff;
}


/* 更換輪播頁面的按鈕位置，controls */

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    /* transition: opacity 0.2s ease-out; */
    display: none;
    width: 50px;
    height: 50px;
    /* opacity是透明度，數值1是不透明，0.5是半透明，0是透明 */
    opacity: .5;
}

#controls label:hover {
    opacity: 1;
}


/* 選取器，nth-child是從前面開始選 */

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg);
    float: right;
    margin: -100px -50px 0 0;
    display: block;
}


/* 選取器，nth-last-child是從後面開始選 */

#slide1:checked~#controls label:nth-last-child(1),
#slide2:checked~#controls label:nth-last-child(4),
#slide3:checked~#controls label:nth-last-child(3),
#slide4:checked~#controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg);
    float: left;
    margin: -100px 0 0 -50px;
    display: block;
}

#bullets {
    position: absolute;
    z-index: 1;
    top: 450px;
    left: 45%;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #fff;
}


/*如果螢幕寬度為 900px 以下，就套用 css 設定*/

@media screen and (max-width: 900px) {
    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(4),
    #slide4:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(4),
    #slide4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }
    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}


/* 到這裡結束，輪播 */


/* 電腦新聞，開始 */

.product_news {
    position: absolute;
    width: 85%;
    height: 75%;
    top: 70%;
    left: 15%;
}

.heading {
    padding-left: 40px;
    margin-bottom: 10px;
}

.heading:before {
    content: '';
    display: block;
    width: 6px;
    height: 1em;
    position: absolute;
    left: 20px;
    top: .25em;
    background-color: #23803d;
}

.product_box {
    width: 25%;
    height: 50%;
    float: left;
}

.product_box_new {
    margin: 0px 20px 0px 20px;
    overflow: hidden;
}

.product_img {
    cursor: pointer;
    width: 100%;
    transition: transform 1s;
    margin-bottom: -5px;
}

.product_description {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: #FAFAFA;
    margin: 0px 20px;
    padding: 5px 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.product_description:hover {
    color: green;
}

.product_img:hover {
    transform: scale(1.1);
}


/* 電腦新聞，結束 */


/* 購物車面板 */

.cart_step {
    margin-top: 100px;
    height: 30px;
}

.cart_step ul li {
    float: left;
    background: #dedede;
    padding: 20px;
    width: 25%;
    list-style: none;
    text-align: center;
    letter-spacing: 5px;
    border-radius: 2em;
    font-size: 18px;
    font-weight: bold;
}

.customer_info {
    margin-top: 100px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 20px;
}

.product_info_btn,
.keep_buy_btn {
    cursor: pointer;
    width: 20%;
    background: #1b92ee;
    font: 18px bold 微軟正黑體;
    color: #fff;
    padding: 10px;
    letter-spacing: 5px;
    border-radius: 10px;
    border: none;
    float: right;
    margin: 10px 0 0 10px;
}


/* .product_info_btn {
    margin-left: 150px;
} */

.cart_step ul li:nth-child(2) {
    background: orange;
}

.buyer_info i span {
    letter-spacing: 5px;
    font-weight: bold;
}

.sh_from {
    /* padding: 0 30px 30px 100px; */
}

ul {
    list-style: none;
}

.buyer_info div span {
    font-size: 20px;
    font-weight: bold;
}


/* .sh_from li {
    margin: 30px 0px;
} */

.sh_from span {
    margin-right: 10px;
}


/* .sh_from input {
    margin: 30px 0px;
} */

.sh_from label span {
    /* line-height: 2em; */
    margin-right: 1em;
    display: inline-block;
    float: left;
    width: 6em;
    /* color: #7e7e7e; */
    font-size: 20px;
    font-weight: bold;
}

.sh_from input {
    padding: 4px;
    width: 250px;
    border: 1px solid #bbb;
    border-radius: 10px;
    margin: 20px 0 20px 0;
}


/* .purchaer-wrapper,
.card-wrapper {
    display: table-cell;
    width: 60%;
    padding-top: 50px;
} */

.buyer_info {
    display: table-cell;
    width: 55%;
    padding: 50px 0 0 180px;
}

.cart_panel {
    width: 1400px;
    margin-left: 300px;
}

.cart_step_second {
    margin: 0px 175px 0 175px;
}


/* input:valid {
    border: 2px solid red;
} */


/* 購物車面板 */