<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>購物網站</title>
    <link rel="stylesheet" href="static/css/product_news_1_style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="C:\Users\mnbgt\Desktop\website\fontawesome-free-5.15.3-web\css\all.css" rel="stylesheet">
</head>

<body>
    <div class="Information_bar">
        <a href="/"><img class="website_logo" src="static/images/首頁_LOGO.PNG"></a>
        <!-- <i class="fas fa-desktop fa-2x" id="computer_news">
      <span class="news_icon">電腦新聞&ensp;&ensp;&ensp;&ensp;&ensp;|</span>
    </i> -->
        <a href="/login" style="text-decoration: none; color: black">
            <i class="fas fa-user fa-2x" id="user"><span class="user_icon"> 登入 /
          註冊&ensp;&ensp;&ensp;&ensp;&ensp;|</span></i>
        </a>|
        <a href="/cart" style="text-decoration: none; color: black;">
            <i class="fas fa-shopping-cart fa-2x" aria-hidden="true" id="cart"><span class="cart_icon"> 購物車</span></i>
        </a>

    </div>
    <div class="sidebar_new">
        <nav class="sidebar" style="float: left;">
            <div class="text">電腦零組件分類</div>
            <!-- 搜尋 -->
            <!-- <div class="search_box">
        <form>
          <input type="text" placeholder="請輸入關鍵字">
          <input type="submit" value="搜尋">
        </form>
      </div> -->
            <ul>
                <li><a href="#" class="CPU-btn">中央處理器<span class="fas fa-caret-down 1"></span></a>
                    <ul class="CPU-show">
                        <li><a href="#" class="CPU_INTEL-btn">Intel<span class="fas fa-caret-down 1-1"></span></a>
                            <ul class="CPU_INTEL-show">
                                <li><a href="/product_info">Core i9系列(第11代)</a></li>
                                <li><a href="#">Core i7系列(第11代)</a></li>
                                <li><a href="#">Core i5系列(第11代)</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="CPU_AMD-btn">AMD<span class="fas fa-caret-down 1-2"></span></a>
                            <ul class="CPU_AMD-show">
                                <li><a href="#">AMD Ryzen 9(5000系列)</a></li>
                                <li><a href="#">AMD Ryzen 7(5000系列)</a></li>
                                <li><a href="#">AMD Ryzen 5(5000系列)</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#" class="MB-btn">主機板<span class="fas fa-caret-down 2"></span></a>
                    <ul class="MB-show">
                        <li><a href="#" class="MB_Intel-btn">Intel<span class="fas fa-caret-down 2-1"></span></a>
                            <ul class="MB_INTEL-show">
                                <li><a href="#">H410 | 1200腳位</a></li>
                                <li><a href="#">H510 | 1200腳位</a></li>
                                <li><a href="#">H570 | 1200腳位</a></li>
                                <li><a href="#">B460 | 1200腳位</a></li>
                                <li><a href="#">B560 | 1200腳位</a></li>
                                <li><a href="#">Z490 | 1200腳位</a></li>
                                <li><a href="#">Z590 | 1200腳位</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="MB_AMD-btn">AMD<span class="fas fa-caret-down 2-2"></span></a>
                            <ul class="MB_AMD-show">
                                <li><a href="#">AM4 X570</a></li>
                                <li><a href="#">AM4 B550</a></li>
                                <li><a href="#">AM4 A520</a></li>
                                <li><a href="#">AM4 X470</a></li>
                                <li><a href="#">AM4 B450</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#" class="RAM-btn">記憶體<span class="fas fa-caret-down 3"></span></a>
                    <ul class="RAM-show">
                        <li><a href="#">DDR4-8GB</a></li>
                        <li><a href="#">DDR4-16GB</a></li>
                    </ul>
                </li>

                <li><a href="#" class="VGA-btn">顯示卡<span class="fas fa-caret-down 4"></span></a>
                    <ul class="VGA-show">
                        <li><a href="#" class="VGA_NVIDIA-btn">NVIDIA<span class="fas fa-caret-down 4-1"></span></a>
                            <ul class="VGA_NVIDIA-show">
                                <li><a href="#">RTX3090</a></li>
                                <li><a href="#">RTX3080Ti</a></li>
                                <li><a href="#">RTX3080</a></li>
                                <li><a href="#">RTX3070Ti</a></li>
                                <li><a href="#">RTX3070</a></li>
                                <li><a href="#">RTX3060Ti</a></li>
                                <li><a href="#">RTX3060</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="VGA_AMD-btn">AMD<span class="fas fa-caret-down 4-2"></span></a>
                            <ul class="VGA_AMD-show">
                                <li><a href="#">RX6900XT</a></li>
                                <li><a href="#">RX6800XT</a></li>
                                <li><a href="#">RX6800</a></li>
                                <li><a href="#">RX6700XT</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#" class="SSD-btn">SSD固態硬碟<span class="fas fa-caret-down 5"></span></a>
                    <ul class="SSD-show">
                        <li><a href="#" class="SSD_SATA-btn">2.5吋 SATA<span class="fas fa-caret-down 5-1"></span></a>
                            <ul class="SSD_SATA-show">
                                <li><a href="#">500G/512G</a></li>
                                <li><a href="#">1TB(含)以上</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="SSD_M2PCIE-btn">M.2 PCIE<span class="fas fa-caret-down 5-2"></span></a>
                            <ul class="SSD_M2PCIE-show">
                                <li><a href="#">500G/512G</a></li>
                                <li><a href="#">1TB(含)以上</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="SSD_M2SATA-btn">M.2 SATA<span class="fas fa-caret-down 5-3"></span></a>
                            <ul class="SSD_M2SATA-show">
                                <li><a href="#">500G/512G</a></li>
                                <li><a href="#">1TB(含)以上</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#">電源供應器</a></li>
                <li><a href="#">電腦機殼</a></li>
                <li><a href="#">螢幕</a></li>
            </ul>
        </nav>
    </div>
    <div class="product_info">
        <div>
            <h1 class="t1">
                CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器實測 最強賊船冷卻旗艦出航
            </h1>
        </div>
        <br>
        <p class="time">
            2021-07-20 9:26
        </p>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-bab61fad5f442c2a10369e391ce2234f.jpg">
        </div>
        <div>
            <p>
                CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器。
            </p>
            <br>
            <br>
            <p>
                在追求極限效能的領域中，處理器與顯示卡的散熱一向都是玩家最注重的部分，怎麼樣才不會讓系統在執行過程中因過熱而導致效能驟降，來確保順暢的遊戲效能，大型的塔型空冷散熱器、一體式水冷、甚至是複雜的分體水冷等配置，在這幾年幾乎是高階玩家的基本配備。而這次陳拔要來開箱測試的，是 CORSAIR 最新推出的 H170i ELITE CAPELLIX AIO CPU 水冷散熱器，以三具 140mm 風扇搭配 420mm 的水冷排，是目前市面上一體式水冷散熱器中，尺寸最大的款式，而實際上的散熱表現如何？以下是陳拔的開箱報告。
            </p>
        </div>
        <br>
        <br>
        <h1 class="t2">
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器開箱與外觀
        </h1>
        <br>
        <br>
        <p>
            首先來看 CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器的開箱與外觀說明。
        </p>
        <br>
        <br>
        <div class="insert_video">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-3a99c1ba8bea730143977fd3e936707a.jpg">
        </div>
        <br>
        <br>
        <p>CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器的外盒正面，跟去年陳拔開箱的 H115i ELITE CAPELLIX AIO CPU 水冷散熱器是同一系列（請見：<a href="https://www.mobile01.com/topicdetail.php?f=502&t=6328978">CORSAIR iCUE H115i iCUE ELITE CAPELLIX 280 AIO 水冷實測 超亮燈效設計搭配強力散熱</a>），所以在外盒設計上都是採用
            CORSAIR 近年來的黃黑配色。</p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-c3733d60f80c296d0fe6a3dd7c9678fc.jpg">
        </div>
        <br>
        <br>
        <p>
            外盒標註了為 420mm 規格的水冷處理器散熱器，並且具有 RGB 燈效。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-b3a25584cfcf03380d9d336030f48d2a.jpg">
        </div>
        <p>
            採用 CORSAIR 新款的 CAPELLIX 超亮 LED 燈效設計，可搭配 CORSAIR 自家的 iCUE 軟體進行控制。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-3a917fe8ce0756f92363b9e9a3af464b.jpg">
        </div>
        <p>
            外盒上方側面的右上角有 CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器盒內的配件圖示。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-28b4a0221f07661331db402ce4094808.jpg">
        </div>
        <p>
            左上角則有支援的處理器插槽類型以及支援的處理器，作業系統則是支援 Windows 10。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-1e1797bfd522e97f5f283518552c1a77.jpg">
        </div>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器的盒裝背面，以實際影像呈現產品的特色。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-df5063c678f31f95b3542c1d6ce6978a.jpg">
        </div>
        <p>
            中央部分則是標示了水冷排安裝風扇後的尺寸，需要長度 457mm、寬度 140mm、高度 52mm 的空間進行安裝。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-8d357b554891158f0d17ab61b3ee5364.jpg">
        </div>
        <p>
            左側則是以實際的影像呈現 CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器安裝兩款不同水冷頭蓋板後的燈效顯示情形。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-4c3d31c8a1a8638b1dde9278f529bed9.jpg">
        </div>
        <p>
            右側則是以多國語言更詳細說明 CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器的尺寸規格。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-bb1988bc2db142ca0e1d8a713a8245bb.jpg">
        </div>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器的盒裝內容物，由上到下、由左至右分別為：三具 140mm RGB 風扇、保固說明、 420mm AIO 水冷排、安裝指南、透明水冷頭飾板、風扇控制器（藍色袋內）、AMD AM4 插槽安裝配件、AMD TR4 插槽安裝配件、intel 插槽安裝配件、螺絲配件包等。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-f38e0f3983aebc5ae94235f2be873ea0.jpg">
        </div>
        <p>
            AIO 水冷排本體， 採用 420mm 規格真的相當巨大。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-237184cc33371ee0390dfe5710d3a0fa.jpg">
        </div>
        <p>
            冷排尺寸與 CORSAIR H115i ELITE CAPELLIX 280 AIO CPU 水冷散熱器（下）相比。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-c160cece95c1f421239c02688d75f7e8.jpg">
        </div>
        <p>
            冷排尺寸與 CORSAIR iCUE H150i RGB PRO XT 360 AIO CPU 水冷散熱器（下）相比。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-ad20603ad90885970018a36e07d7fa44.jpg">
        </div>
        <p>
            水冷排本身採用14 排散熱格柵設計。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-691998c4f0851466891faf10c0341b17.jpg">
        </div>
        <p>
            上方一貫具有 CORSAIR 海盜船的圖騰徽飾。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-fefb5c2f83ef52644aedadaedd48af05.jpg">
        </div>
        <p>
            水冷排與進出水管的連接設計，水管外部則以編織材質包覆，水管長度則為 450 mm。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-688e1d3faf2db64c807b17f729452759.jpg">
        </div>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器的水冷頭配置，採用跟 H115i ELITE CAPELLIX AIO 相同的設計，內部具有 33 顆超亮 CAPELLIX RGB LED 燈珠，提供更亮的水冷頭燈效顯示。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-589949aa1f34d9c2896f1bbc7fa9b5d6.jpg">
        </div>
        <p>
            未安裝飾蓋前水冷頭的燈效顯示狀況。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-502c0dc7ef053c293ee0a061e10e2e9e.jpg">
        </div>
        <p>
            安裝預設的黑色飾蓋時，水冷頭的燈效顯示狀況。
        </p>
        <br>
        <br>
        <p>
            而這次 CORSAIR 也一樣的提供了另一組可替換的白色半透明水冷頭飾蓋，可以讓使用者在兩種不同燈效呈現模式中選擇。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-ac22adbf41631dee047a362ceb0b1bfc.jpg">
        </div>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器盒裝配件內的白色半透明水冷頭飾蓋。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-5b3292d9084adc763f421840322e36a1.jpg">
        </div>
        <p>
            使用白色半透明水冷頭飾蓋時的燈效顯示狀況。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-9158853b3758a2861f3ab4e1c0f609f4.jpg">
        </div>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器的水冷頭底部，採用 CORSAIR 的分流式銅質導熱板設計，表面採用每英吋128 條的微切翅片堆疊設計，提供在高負載下的快速導熱性能。另外也可見到表面已經預塗了散熱膏。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-efce1fe7d8bb458f641e456d7fa3ed77.jpg">
        </div>
        <p>
            相較於近期市面上頂級的 AIO 水冷，在水冷頭部分均採用大型的內崁式風扇設計，不具內崁風扇的 CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器水冷頭體型相對小巧，水冷頭高度大約在 50mm 左右。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-4aee48f48af4dfbba64a360aac123e07.jpg">
        </div>
        <p>
            另外由於 CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器這次也配備了獨立風扇控制器的緣故，所以水冷頭部分並未有 4 Pin 風扇連接線，而是以風扇控制器的傳輸線取代，另外一條則是連接主機板 CPU FAN 插槽的 3 Pin 連接線。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-5c24b33c180d6ac23c59b38613ade8af.jpg">
        </div>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器水冷頭水管連接處的設置，採用 90º 轉角可轉動的設計。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-c3a2e7c9b585f1daaafe7bccb256efab.jpg">
        </div>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器配屬的風扇，採用磁懸浮設計，轉速範圍為 400 至 2000 RPM、單一風扇氣流量為 97 CFM、風壓為 0.2 至 3. mm-H2O，風扇噪音值為 10 至 36 dB(A)。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-c3a2e7c9b585f1daaafe7bccb256efab.jpg">
        </div>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器配屬的風扇，採用磁懸浮設計，轉速範圍為 400 至 2000 RPM、單一風扇氣流量為 97 CFM、風壓為 0.2 至 3. mm-H2O，風扇噪音值為 10 至 36 dB(A)。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-681c6e13338c50972c57edeb840d31b2.jpg">
        </div>
        <p>
            風扇的另一面，另外可看到具有 4 Pin 電源連接線以及 ARGB 燈效連接線各一組的配置。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-2ead07ebf066beb9abeb9d8c630bf960.jpg">
        </div>
        <p>
            實際開機時的風扇燈效顯示狀況。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-a52f428b8d700495e045a0d079eb5ab5.jpg">
        </div>
        <p>
            在全黑環境下拍攝，可以看到在風扇軸心外側有 8 顆 LED 燈珠分佈。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-b2d2ba358172d5bbf5b153d69e3a8a1f.jpg">
        </div>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器所配屬的風扇控制器，跟 H115i ELITE CAPELLIX AIO CPU 水冷散熱器的是相同的，提供了六組風扇的電源以及燈效控制。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-ea192c0d5cc0527722396463a2745b83.jpg">
        </div>
        <p>
            風扇電源插座部分。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-6ac598fd7da52ece17a2ea7787e8d415.jpg">
        </div>
        <p>
            風扇控制器的 RGB 燈效連接的部分。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-ce472a3d25ef57a1624be02eb9f1e2fb.jpg">
        </div>
        <p>
            前方則是具有與水冷頭傳輸線連接的介面。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-37239db3347ba15db651a3c4587b9272.jpg">
        </div>
        <p>
            另一邊則是設置了不可更換的電源線以及主機板傳輸線部分，CORSAIR 也在這一側設置了溫度感應線的接點，讓使用者可以在這裡接上溫度感應線。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-3ed21d9fbf4b09b2df0283b87b5eebcc.jpg">
        </div>
        <p>
            風扇控制器的電源供應則是直接以 SATA 接頭提供，需要與電源供應器的 SATA 電源線連接，另外一條則是連接主機板 USB 2.0 連接埠的傳輸線。
        </p>
        <br>
        <br>
        <p>
            用獨立風扇控制器的設計的確在裝機時可以省下在水冷頭處煩雜的整線設計，不過可惜的是這次 CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器的風扇控制器仍是以搭配膠條的方式固定在機殼上，或許可以採用類似 ROG RYUJIN II 360 AIO 水冷散熱器的風扇控制器設計（請見：<a href="https://www.mobile01.com/topicdetail.php?f=502&t=6410626">ROG RYUJIN II 360 AIO 水冷散熱器實測 將敗家信仰提升到最高點</a>），設計為
            2.5 吋磁碟機的大小，並且提供固定螺絲孔，讓使用者可以彈性的方式固定在機殼背面上
        </p>
        <br>
        <br>
        <h1 class="t2">
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器軟體控制
        </h1>
        <br>
        <br>
        <p>
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器仍是使用自家 iCUE 軟體進行控制，提供包括燈效、風扇轉速、水幫浦轉速、運作模式、韌體更新等功能。
        </p>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-75d5081be0a96e8d0a01311e23619a18.jpg">
        </div>
        <p>
            iCUE 軟體主界面，使用目前最新的 4.13.223 版本。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-6a79a9d994c12bbfa5bc95b8fd66259e.jpg">
        </div>
        <p>
            點擊『H170i ELITE CAPELLIX』圖示後就可以進入 CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器的控制介面，首頁顯示包括水幫浦（泵）、 三具風扇的燈效顯示情形。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-20acacce6c130b4b9e7d7e409656db3a.jpg">
        </div>
        <p>
            若是有將其他機殼風扇連接到風扇控制器，也可以在這個界面進行操控，在左下角可以指定風扇的類型。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-9919876685042ddfa730dfc3d654dd53.jpg">
        </div>
        <p>
            進入『燈光效果』頁面後則是可以針對個別組件的燈光效果進行調整。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-9409dd357e8385886a967961f5b627c1.jpg">
        </div>
        <p>
            提供包括彩虹波動、螺旋彩虹、彩虹、黑色偏移、顏色脈動、顏色流動、依序、頻閃、雨水等燈光效果，另外也可分別指定各組件的燈效以及調整燈效變換速度。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-ae57b1e302c39e2f6cb54d570b197bc3.jpg">
        </div>
        <p>
            在『冷卻中』選項裡，則是可以調整風扇與水冷頭幫浦（泵）的運轉模式，風扇部分分為安靜、均衡、極限、零 RPM 四種模式，水冷頭幫浦（泵）的部分則是將零 RPM 的部分更換為可變速度選項。另外也可以在這裡看到冷卻液目前的溫度。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-9825bed1ae023cc0daf542f2d87abd18.jpg">
        </div>
        <p>
            除了可以全部套用同樣模式外，也可針對個別組件指定運作模式。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-2f4f167c4ec576fc367d73705e961c6b.jpg">
        </div>
        <p>
            另外也可將組件重新命名，或是新增到主面板方便管理。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-2892bc6cb0b3e68fa215c098584a76f1.jpg">
        </div>
        <p>
            點擊個別組件時，下方還會出現詳細的運作狀態，圖為風扇部分過去一段時間運作的轉速。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-787159793b3bdb0486eb92722b33d6c2.jpg">
        </div>
        <p>
            也可以監控水冷液的溫度。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-5021e62351b9c3a07e45f18c06fe5878.jpg">
        </div>
        <p>
            『警告』部分則是會依照設定的條件（如水冷液溫度、風扇轉速）提出警示，也可設定若超過設定值時會自動關機保護的機制。
        </p>
        <br>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-fc41ec02fdc0831cbeb4aab2db8eaff3.jpg">
        </div>
        <p>
            『裝置設定』部分則是提供包括韌體更新、整體 LED 亮度調整的功能。
        </p>
        <br>
        <br>
        <!-- 
        <h1 class="t2">
            CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器散熱性能測試
        </h1>

        <br>
        <br>

        <p>處理器：Intel Core i9-11900K<br> 主機板：ROG MAXIMUS XIII Extreme<br> 記憶體：Micron Ballistix Max DDR4-4000 16GB x2<br> 系統 SSD：Samsung 980 Pro SSD 1TB<br> 電源供應器：海韻 PRIME TX1000<br> 作業系統：Windows 10 Pro 20H2 版</p>
        <br>

        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-608fb6cfdf41f387113bb78a62d752be.jpg">
        </div>
        <p>
            這次的測試平台。
        </p>
        <br>
        <br>
        <p>
            首先來看 CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器在不同風扇運作模式下的音量表現，陳拔分別以安靜、均衡、極限以及零 RPM 四個階段進行測試。
        </p>
        <br>
        <p>安靜模式：</p>
        <br> -->
        <!-- 個研究一下，綜合評分、使用人數跟更新率來看，我安裝了
            <a href="https://chrome.google.com/webstore/detail/%E5%8F%B0%E8%82%A1com/fihgaomjmoflomciogilibcjgpmiddfa?hl=zh-TW" target="_blank">《台股.com》</a>。 點擊圖示時就可以快看一下自訂個股漲跌、成交跟盤中高低...等，滑鼠移到圖示上則可看集中市場與店頭市場指數。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-0fe5941a0f706b87ec7875aeb4a65407.jpg">
        </div>
        <br>
        <br>
        <p>在工具選項裡，除了可以添加台灣個股外，還可以設定價到提醒，包括股價、漲跌幅、成交量等指標，並在桌面跳出提醒。另外預設是60秒就更新一次，你也可以在選項裡自設更新頻率。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-49f7f828117bde4ad44c50328fb73f31.jpg">
        </div>
        <br>
        <br>
        <h1 class="t2">
            3. 把影片縮到角角低調看
        </h1>
        <br>
        <br>
        <p>
            不敢光明正大，也不方便一直低頭看手機看影片時，就需要縮小影片視窗的工具了。 Chrome上有很多Picture in Pictire，子母畫面的擴充功能，如果你都看YouTube，其實不必安裝，<b style="font-weight: bold;color:#FF7F50;">
        在影片上點兩下滑鼠右鍵</b>，就可以用子母畫面縮小看了。不過這工具有個問題是，字幕不會跟著過去。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-abd8e6dcd7165177b006f35e2c013c6a.jpg">
        </div>
        <br>
        <br>
        <p>如果不只YT，你還會看Facebook、Netflix、愛奇藝...等任何其他網站的影片，就要安裝擴充功能了，Google自己就有出<a href="https://chrome.google.com/webstore/detail/picture-in-picture-extens/hkgfoiooedgoejojocmhlaklaeopbecg?hl=zh-TW">《Picture-in-Picture
        Extension (by
        Google)》</a>，在看任何網站的影片時，點一下就可以變成浮動視窗來看。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-6ac3def099d24b8c8143f4ad2c5b660a.jpg">
        </div>
        <br>
        <br>
        <p>
            不過這工具仍無法把YT或是Netflix那種外加的字幕帶到小視窗去，而且還是有些網頁無法縮成子母畫面，這時候你可以選擇安裝<a href="https://chrome.google.com/webstore/detail/flobro/faaljkdndnfoagcmhedlmbgieoocemch">《Flobro》</a>，或<a href="https://chrome.google.com/webstore/detail/tabfloater-picture-in-pic/iojgbjjdoanmhcmmihbapiejfbbadhjd?hl=zh-TW">《TabFloater》</a>了，把整個網頁縮到角角。前者是應用程式，後者是擴充功能，操作起來比較方便，這裡介紹後者。
            安裝後點擊，它就會把要看的那個標籤頁縮小，讓你拉到低調的地方看片，絕對不會影響你工作！（看球賽直播好用啊）
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-ba610f7a3d97643750e1ba889cc5572b.jpg">
        </div>
        <br>
        <br>
        <p>
            但你說，我自己把網頁拉小不是一樣？ 其實你仔細看，透過《TabFloater》縮小的畫面，把書籤列、工具列等都去掉了，優化成一個很純粹顯示內容的頁面，比較適合看影片。不只影片，看盤網頁也可以用這工具縮到角角。 《TabFloater》的選項裡可以再做幾個更方便的設定，包括固定縮小視窗的位置、始終在最上層（不被其他程式覆蓋），以及記住縮放大小、鍵盤快鍵...等。 不過始終在最上層這功能，需要另外安裝《TabFloater》的Companion工具（Windows、MacOS跟Linux都支援），這就看大家的用量跟需求來安裝囉。
            摸魚是一個歪掉的用途，正常來說，這對螢幕不大的筆電多視窗工作應該很有幫助，尤其要開啟一直監控的網頁時，可以節省空間外，介面也更好。
        </p>
        <br>
        <br>
        <h1 class="t2">
            4. 用滑鼠預覽部分再決定要不要看
        </h1>
        <br>
        <br>
        <p>
            時間寶貴，摸魚看PTT或新聞，也是要講求效率的，安裝<a href="https://chrome.google.com/webstore/detail/survol/fdnnmbmkgfdjclkgimonnimokhnndalk?hl=zh-TW">《Survol》</a>後，把滑鼠移到任何標題上，就可以預覽前幾行，覺得想看再點進去就好了，這對看只有標題的文章清單很有幫助，也可以避免「網友驚呼！」、「女星這樣做...」之類的標題浪費時間。
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-49b2318fb9c59356796b3a355bb0dce2.jpg">
        </div>
        <br>
        <br>
        <p>
            呃...01的熱門討論也可以...以後第一段是不是要寫內有長輩比較好...
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-e19c5c4bbfe7e0dd565d64275eb54f0a.jpg">
        </div>
        <br>
        <br>
        <h1 class="t2">
            5. 在閱讀器裡讀書培養斜槓能力
        </h1>
        <br>
        <br>
        <p>
            有在用電子書閱讀器的，應該都知道<a href="https://calibre-ebook.com/download">《Calibre》</a>這個電子書編輯程式，可以將電子書轉檔、編輯、傳送到各種閱讀器裡，非常方便，這個程式本身也是一個很清爽的Reader。 正因為清爽，沒有工具列，所以可以很好混淆在Word之類，打文件的頁面上。把上下左右邊界調小就更好隱藏了。閱讀時可以用鍵盤操作，更低調的
            <del>看小說</del>充實知識。 啊可以這是程式，不是擴充功能...啊～隨便啦...
        </p>
        <br>
        <br>
        <div class="info_photo">
            <img src="https://attach.mobile01.com/attach/202107/mobile01-ff556e441251c6048d98a8a17ce388cc.jpg">
        </div>
        <br>
        <br>
        <p>
            好啦，上面語氣有點惡趣味，但正經說...疫情影響下還可正常工作似乎就要感恩了... 這些單獨來看，也都是工作上蠻實用的工具，不過個人還是覺得摸魚也不盡是壞處，低調、適當均衡，不要影響別人和該做的事就好了...為了大家工作身心健康，摸過覺得好用請分享～感恩～挖鼻孔
        </p>
        <br>
        <br>
        <p>
            (圖片來源：depositphotos)
        </p>
        <br>
        <br> -->
        <!-- </div> -->
        <!-- 從這裡開始，輪播 -->
        <!-- <div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
      <div id="overflow">
        <div class="inner">
          <div class="slide slide_1">
            <img src="static\images\carousel_1.jpeg">
          </div>
          <div class="slide slide_2">
            <img src="static\images\carousel_2.jpeg">
          </div>
          <div class="slide slide_3">
            <img src="static\images\carousel_3.jpeg">
          </div>
          <div class="slide slide_4">
            <img src="static\images\carousel_4.jpeg">
          </div>
        </div>
      </div>
    </div> -->
        <!-- controls是更換輪播頁面的按鈕(> or <) -->
        <!-- <div id="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
    </div> -->
        <!-- bullets是更換輪播頁面的按鈕(圓形radio) -->
        <!-- <div id="bullets">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
    </div>
  </div> -->
        <!-- 到這裡結束，輪播 -->
        <!-- <div class="u-gapNextV--lg">
    <div class="l-heading">電腦新聞</div>>
    <div class="l-appearArea">
      <div class="l-appearArea__content u-overflow">
        <div class="l-cols">
          <div class="l-cols__4">
            123
          </div>
          <div class="l-cols__4">
            123
          </div>
          <div class="l-cols__4">
            123
          </div>
        </div>
      </div>
    </div>
  </div>
  </div> -->
        <!-- 電腦新聞 -->
        <!-- <div class="product_news">
    <div>
      <h1 class="heading">
        電腦新聞
      </h1>
    </div>
    <div class="product_box">
      <div class="product_box_new">
        <img class="product_img" src="https://attach.mobile01.com/image/news/7253cf568396086df2b5f0f0b7880120.jpg">
      </div>
      <div class="product_description">
        【上班一定要看】5種Chrome摸魚擴充功能 學會變高手
      </div>
    </div>
    <div class="product_box">
      <div class="product_box_new">
        <img class="product_img" src="https://attach.mobile01.com/image/news/a80c7969dd8fbb85c26c9bbac1c32cbf.jpg">
      </div>
      <div class="product_description">
        CORSAIR H170i ELITE CAPELLIX AIO CPU 水冷散熱器實測 最強賊船冷卻旗艦出航
      </div>
    </div>
    <div class="product_box">
      <div class="product_box_new">
        <img class="product_img" src="https://attach.mobile01.com/image/news/843e2acf8fa3a0a2d49645903e193714.jpg">
      </div>
      <div class="product_description">
        LG UltraFine Display Ergo 32UN880 人體工學螢幕開箱 顯示視野隨你調整
      </div>
    </div>
    <div class="product_box">
      <div class="product_box_new">
        <img class="product_img" src="https://attach.mobile01.com/image/news/06d201fc153b04a98a6103eb17a9054f.jpg">
      </div>
      <div class="product_description">
        ROG RYUJIN II 360 AIO 水冷散熱器實測 將敗家信仰提升到最高點
      </div>
    </div>
    <div class="product_box">
      <div class="product_box_new">
        <img class="product_img" src="https://attach.mobile01.com/image/news/c9ae8cc714a1dcc61ab56e23243e65a2.jpg">
      </div>
      <div class="product_description">
        TP-Link Archer GX90 WiFi 6 電競路由器開箱體驗 居家防疫時期的必備網路良藥
      </div>
    </div>
    <div class="product_box">
      <div class="product_box_new">
        <img class="product_img" src="https://attach.mobile01.com/image/news/4649a1fe981cc9aace83954506c3b426.jpg">
      </div>
      <div class="product_description">
        BenQ PD2725U 螢幕開箱測試 以多模式提供色彩準度的專業選擇
      </div>
    </div>
    <div class="product_box">
      <div class="product_box_new">
        <img class="product_img" src="https://attach.mobile01.com/image/news/2b8e4b57a24b79999a52da555c1486fd.jpg">
      </div>
      <div class="product_description">
        ZOTAC Gaming GEFORCE RTX 3070 Ti AMP HOLO 顯示卡開箱實測 全面升級的中階性能選擇
      </div>
    </div>
    <div class="product_box">
      <div class="product_box_new">
        <img class="product_img" src="https://attach.mobile01.com/image/news/63536092d75bad78b1ab20378becf6f3.jpg">
      </div>
      <div class="product_description">
        ROG SWIFT PG32UQX 電競螢幕開箱體驗 以 Mini LED 技術達成超細膩畫質演出
      </div>
    </div>
  </div> -->
        <!-- 電腦新聞 -->

        <script>
            // 中央處理器
            $('.CPU-btn').click(function() {
                $('nav ul .CPU-show').toggleClass("show1");
                $('nav ul .1').toggleClass("rotate");
            });
            $('.CPU_INTEL-btn').click(function() {
                $('nav ul .CPU_INTEL-show').toggleClass("show1-1");
                $('nav ul .1-1').toggleClass("rotate");
            });
            $('.CPU_AMD-btn').click(function() {
                $('nav ul .CPU_AMD-show').toggleClass("show1-2");
                $('nav ul .1-2').toggleClass("rotate");
            });

            // 主機板
            $('.MB-btn').click(function() {
                $('nav ul .MB-show').toggleClass("show2");
                $('nav ul .2').toggleClass("rotate");
            });
            $('.MB_Intel-btn').click(function() {
                $('nav ul .MB_INTEL-show').toggleClass("show2-1");
                $('nav ul .2-1').toggleClass("rotate");
            });
            $('.MB_AMD-btn').click(function() {
                $('nav ul .MB_AMD-show').toggleClass("show2-2");
                $('nav ul .2-2').toggleClass("rotate");
            });

            // 記憶體
            $('.RAM-btn').click(function() {
                $('nav ul .RAM-show').toggleClass("show3");
                $('nav ul .3').toggleClass("rotate");
            });

            // 顯示卡
            $('.VGA-btn').click(function() {
                $('nav ul .VGA-show').toggleClass("show4");
                $('nav ul .4').toggleClass("rotate");
            });
            $('.VGA_NVIDIA-btn').click(function() {
                $('nav ul .VGA_NVIDIA-show').toggleClass("show4-1");
                $('nav ul .4-1').toggleClass("rotate");
            });
            $('.VGA_AMD-btn').click(function() {
                $('nav ul .VGA_AMD-show').toggleClass("show4-2");
                $('nav ul .4-2').toggleClass("rotate");
            });

            // SSD固態硬碟
            $('.SSD-btn').click(function() {
                $('nav ul .SSD-show').toggleClass("show5");
                $('nav ul .5').toggleClass("rotate");
            });
            $('.SSD_SATA-btn').click(function() {
                $('nav ul .SSD_SATA-show').toggleClass("show5-1");
                $('nav ul .5-1').toggleClass("rotate");
            });
            $('.SSD_M2PCIE-btn').click(function() {
                $('nav ul .SSD_M2PCIE-show').toggleClass("show5-2");
                $('nav ul .5-2').toggleClass("rotate");
            });
            $('.SSD_M2SATA-btn').click(function() {
                $('nav ul .SSD_M2SATA-show').toggleClass("show5-3");
                $('nav ul .5-3').toggleClass("rotate");
            });


            $('nav ul li').click(function() {
                $(this).addClass("active").siblings().removeClass("active");
            });
        </script>

</body>

</html>