<!DOCTYPE html>

<head>
    <meta charset="utf-8"></meta>
    <title>i9-11900K</title>
    <link rel="stylesheet" href="/static/css/product_description_style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="C:\Users\mnbgt\Desktop\website\fontawesome-free-5.15.3-web\css\all.css" rel="stylesheet">
</head>

<body>
    <div class="Information_bar">
        <a href="/"><img class="website_logo" src="/static/images/首頁_LOGO.png"></a>
        <!-- <i class="fas fa-desktop fa-2x" id="computer_news">
      <span class="news_icon">電腦新聞&ensp;&ensp;&ensp;&ensp;&ensp;|</span>
    </i> -->
        <a href="/login" style="text-decoration: none; color: black">
            <i class="fas fa-user fa-2x" id="user"><span class="user_icon"> 登入 /
                    註冊&ensp;&ensp;&ensp;&ensp;&ensp;|</span></i>
        </a>|
        <a href="/cart" style="text-decoration: none; color: black;">
            <i class="fas fa-shopping-cart fa-2x" aria-hidden="true" id="cart"><span class="cart_icon"> 購物車</span></i>
        </a>
    </div>
    <!-- 麵包屑，開始 -->
    <div class="breadcrumbs">
        <a>首頁</a> >
        <a>中央處理器 </a> >
        <a>Core i9系列(第11代)</a> >
        <a>i9-11900K</a>
    </div>
    <div id="product_get_info">

    </div>
    <!-- 麵包屑，結束 -->
    <!-- 商品box，開始 -->
    <!-- <div class="product_info_box">
        <div class="product_info_image">
            <img id="product_info_image" src="https://products.autobuy.tw/IA1008020005821_6107636b.jpg">
        </div>
        <div class="product_main">
            <div class="product_info_title">
                <p>Intel 第11代 Core i9-11900K 8核16緒</p>
            </div> -->
    <!-- <hr> -->
    <!-- <div class="product_info_feature">
                <h3>商品特色 :</h3>
                <ul>
                    <li>基礎頻率 3.50 GHz / 最大超頻 5.30 GHz</li>
                    <li>16 MB 快取記憶體</li>
                    <li>14nm 製程 / TDP 125 W</li>
                    <li>LGA1200 腳位</li>
                    <li>記憶體類型 DDR4-3200</li>
                </ul>
            </div>
            <div class="product_info_price">
                <h3>價格 :</h3>
                <strong>17300</strong>元
            </div> -->
    <!-- 商品數量增減，開始 -->
    <!-- <div class="product_info_amount">
                <h3>數量 :</h3>
                <div class="quantity">
                    <a href="#" class="quantity__minus">-</a>
                    <input name="quantity" type="text" class="quantity__input" value="1">
                    <a href="#" class="quantity__plus">+</a>
                </div>
            </div> -->
    <!-- 商品數量增減，結束 -->
    <!-- <div class="product_info_button">
                <input type="button" value="加入購物車" class="addCart">
                <input type="button" value="立即結帳" class="productPay">
            </div> -->
    <!-- 頁籤開始 -->
    <!-- <div class="panel-group">
                <input type="radio" name="panel-radio" id="radio1" class="panel-control" checked>
                <input type="radio" name="panel-radio" id="radio2" class="panel-control">
                <input type="radio" name="panel-radio" id="radio3" class="panel-control">
                <input type="radio" name="panel-radio" id="radio4" class="panel-control">
                <div class="tab-group">
                    <label for="radio1" class="active">產品介紹</label>
                    <label for="radio2">保固及售後服務</label>
                    <label for="radio3">商品相關與退換貨</label>
                    <label for="radio4">商品運送相關</label>
                </div>
                <div class="content-group">
                    <div class="content1">
                        <img src="\static\images\i9-11900k.jpg"></img>
                        <img src="\static\images\商品規格.jpg"></img>
                        <table border="1" style="border-collapse:collapse;">
                            <tbody>
                                <tr>
                                    <td>處理器編號</td>
                                    <td>i9-11900K</td>
                                </tr>
                                <tr>
                                    <td>核心數量 </td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>執行緒數量</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>時脈速度</td>
                                    <td>- 基本頻率：3.50 GHz
                                        <br> - 最大超頻：5.30 GHz
                                    </td>
                                </tr>
                                <tr>
                                    <td>快取記憶體</td>
                                    <td>16 MB Intel® Smart Cache</td>
                                </tr>
                                <tr>
                                    <td>製程</td>
                                    <td> 14 nm</td>
                                </tr>
                                <tr>
                                    <td>秏電量TDP(W)</td>
                                    <td> 125 W</td>
                                </tr>
                                <tr>
                                    <td>記憶體類型</td>
                                    <td> DDR4-3200</td>
                                </tr>
                                <tr>
                                    <td>腳位</td>
                                    <td>1200</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="content2">
                        <h2>保固說明</h2>
                        <br>
                        <p>對商品有任何疑問嗎？</p>
                        <br>
                        <p>本網站售後服務條款之標的僅適用於消費者於台灣地區購買之原廠產品（新品）特價品、整新品或境外購買之產品，一律依照當時所附之保固條件為準。超出售後服務保固範圍或期限者，其維修、收費相關事宜，依原廠客服中心公佈規定處理。消費者自收到購買商品七日內，發生產品不良或故障時，憑銷售憑證，並備齊 配件，以原箱包裝，向原經銷商申請更換新品，逾期則以維修方式處理。新品外觀瑕疵，屬於人為疏忽，不得請求本公司更換新品。產品送修時，請以原廠包材或適當材料（如紙箱，氣泡袋或保麗龍等）包裝，
                            如係因包裝不當導致運送中發生之損壞，本網站恕不提供保固。
                        </p>
                        <br>
                        <p>產品因下列原因發生不良或損壞，不在售後服務保固範圍：</p>
                        <br>
                        <ol>
                            <li>天災，意外，或人為疏忽</li>
                            <li>違反產品手冊之使用提示</li>
                            <li>組裝不當</li>
                            <li>使用未經認可之配件</li>
                            <li>超出允許使用之環境</li>
                            <li>私自拆解結構</li>
                            <li>非正常使用</li>
                            <li>線路或零件氧化</li>
                            <li>當做測試設備使用</li>
                        </ol>
                        <br>
                        <p>隨機之耗材，贈品及包材等均不在保固範圍之列。</p>
                        <br>
                        <p>保固期內送修者，請將購買證明與發票證明聯列印紙本，連同產品包裝妥當一併寄回。</p>
                        <br>
                        <h2>送貨及發票說明</h2>
                        <br>
                        <p>
                            <span>
                                送貨時間：
                            </span>您完成線上付款後約7個工作天內送達（不含週六日及國定假日） ※若商品為預購品或另行通知延後出貨，則不在上述的約定範圍，預購品請看預購品網頁約定出貨方式。 ※若因交易條件有誤或有其他本公司無法接受訂單之情形；或遇有商品無法順利出貨、缺貨或斷貨等情形，為避免您久候，本公司將以 email 通知您訂單不成立/取消訂單，並且全額退款，您將不會收到商品，請您見諒。
                        </p>
                        <br>
                        <p>
                            <span>
                                送貨方式：
                            </span> 將透過宅配（例如：宅配通、新竹貨運、黑貓）或是郵局送達收件地址。消費者訂購之商品若經配送兩次無法送達，再經本網站以電話與E-mail均無法聯繫超過三天者，本網站將取消該筆訂單，並且全額退款。
                        </p>
                        <br>
                        <p>
                            <span>
                                送貨範圍：
                            </span>限台灣本島地區，郵政信箱地址不寄送。（若有台灣本島以外地區送貨需求，收貨人地址請填台灣本島親友的地址）。
                        </p>
                        <br>
                        <p>
                            <span>
                                發票寄送：
                            </span>若您選擇載明買受人統編之紙本發票，需要寄送實體發票給您，本網站每15天批次寄送發票，並不會隨貨併出，請您稍候。
                        </p>
                        <br>
                        <h2>取消訂單及退換貨說明
                        </h2>
                        <br>
                        <p>
                            <span>
                                取消訂單：

                            </span>您完成線上付款後約7個工作天內送達（不含週六日及國定假日） ※若商品為預購品或另行通知延後出貨，則不在上述的約定範圍，預購品請看預購品網頁約定出貨方式。 ※若因交易條件有誤或有其他本公司無法接受訂單之情形；或遇有商品無法順利出貨、缺貨或斷貨等情形，為避免您久候，本公司將以 email 通知您訂單不成立/取消訂單，並且全額退款，您將不會收到商品，請您見諒。
                        </p>
                        <br>
                        <p>
                            <span>
                                換貨：
                            </span> 將透過宅配（例如：宅配通、新竹貨運、黑貓）或是郵局送達收件地址。消費者訂購之商品若經配送兩次無法送達，再經本網站以電話與E-mail均無法聯繫超過三天者，本網站將取消該筆訂單，並且全額退款。
                        </p>
                        <br>
                        <p>
                            <span>
                                退貨：
                            </span>限台灣本島地區，郵政信箱地址不寄送。（若有台灣本島以外地區送貨需求，收貨人地址請填台灣本島親友的地址）。
                        </p>
                        <br>
                        <p>
                            <span>
                                退貨注意事項：
                            </span>若您選擇載明買受人統編之紙本發票，需要寄送實體發票給您，本網站每15天批次寄送發票，並不會隨貨併出，請您稍候。
                        </p>
                        <br>
                        <p>
                            <span>
                                退貨詳細說明：
                            </span>欲退貨時請先以線上客服系統填寫退貨申請表單，申請次日起3個工作天內我們將審核該退貨案件，通過審核後即透過本網站客服系統或E-mail回覆通知，並委託宅配公司於5個工作天 電話連絡前往取回商品，敬請保持電話暢通，並將原商品備妥，宅配取件後即提供簽收單據予您留存，（宅配公司僅收件，商品由特約廠商驗收）。請將商品無損及完整包裝，連同配件贈品，勿缺件，外盒勿損毀，請以廠商寄送時的包裝再原封備妥，若紙箱已遺失，請於商品外盒上再加包裝，勿直接讓商品原廠外盒粘貼宅配單或書寫文字，原廠外盒損毀或是商品缺件，將無法受理退貨或視損毀程度折扣退款金額，強烈建議您保留原商品外箱包裝等包材兩週勿丟棄。

                        </p>
                    </div>
                    <div class="content3">content3</div>
                    <div class="content4">content4</div>
                </div>
            </div> -->
    <!-- 頁籤結束 -->
    <!-- </div>
    </div> -->
    <!-- 商品box，結束 -->
    <div class="sidebar_new">
        <nav class="sidebar" style="float: left;">
            <div class="text">電腦零組件分類</div>
            <!-- 搜尋 -->
            <!-- <div class="search_box">
                <form>
                    <input class="product_search" type="text" placeholder="請輸入關鍵字">
                    <input type="submit" value="搜尋">
                </form>
            </div> -->
            <ul>
                <li><a href="#" class="CPU-btn">中央處理器<span class="fas fa-caret-down 1"></span></a>
                    <ul class="CPU-show">
                        <li><a href="#" class="CPU_INTEL-btn">Intel<span class="fas fa-caret-down 1-1"></span></a>
                            <ul class="CPU_INTEL-show">
                                <li><a href="/product_info">Core i9系列(第11代)</a></li>
                                <li><a href="#">Core i7系列(第11代)</a></li>
                                <li><a href="#">Core i5系列(第11代)</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="CPU_AMD-btn">AMD<span class="fas fa-caret-down 1-2"></span></a>
                            <ul class="CPU_AMD-show">
                                <li><a href="#">AMD Ryzen 9(5000系列)</a></li>
                                <li><a href="#">AMD Ryzen 7(5000系列)</a></li>
                                <li><a href="#">AMD Ryzen 5(5000系列)</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#" class="MB-btn">主機板<span class="fas fa-caret-down 2"></span></a>
                    <ul class="MB-show">
                        <li><a href="#" class="MB_Intel-btn">Intel<span class="fas fa-caret-down 2-1"></span></a>
                            <ul class="MB_INTEL-show">
                                <li><a href="#">H410 | 1200腳位</a></li>
                                <li><a href="#">H510 | 1200腳位</a></li>
                                <li><a href="#">H570 | 1200腳位</a></li>
                                <li><a href="#">B460 | 1200腳位</a></li>
                                <li><a href="#">B560 | 1200腳位</a></li>
                                <li><a href="#">Z490 | 1200腳位</a></li>
                                <li><a href="#">Z590 | 1200腳位</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="MB_AMD-btn">AMD<span class="fas fa-caret-down 2-2"></span></a>
                            <ul class="MB_AMD-show">
                                <li><a href="#">AM4 X570</a></li>
                                <li><a href="#">AM4 B550</a></li>
                                <li><a href="#">AM4 A520</a></li>
                                <li><a href="#">AM4 X470</a></li>
                                <li><a href="#">AM4 B450</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#" class="RAM-btn">記憶體<span class="fas fa-caret-down 3"></span></a>
                    <ul class="RAM-show">
                        <li><a href="#">DDR4-8GB</a></li>
                        <li><a href="#">DDR4-16GB</a></li>
                    </ul>
                </li>

                <li><a href="#" class="VGA-btn">顯示卡<span class="fas fa-caret-down 4"></span></a>
                    <ul class="VGA-show">
                        <li><a href="#" class="VGA_NVIDIA-btn">NVIDIA<span class="fas fa-caret-down 4-1"></span></a>
                            <ul class="VGA_NVIDIA-show">
                                <li><a href="#">RTX3090</a></li>
                                <li><a href="#">RTX3080Ti</a></li>
                                <li><a href="#">RTX3080</a></li>
                                <li><a href="#">RTX3070Ti</a></li>
                                <li><a href="#">RTX3070</a></li>
                                <li><a href="#">RTX3060Ti</a></li>
                                <li><a href="#">RTX3060</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="VGA_AMD-btn">AMD<span class="fas fa-caret-down 4-2"></span></a>
                            <ul class="VGA_AMD-show">
                                <li><a href="#">RX6900XT</a></li>
                                <li><a href="#">RX6800XT</a></li>
                                <li><a href="#">RX6800</a></li>
                                <li><a href="#">RX6700XT</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#" class="SSD-btn">SSD固態硬碟<span class="fas fa-caret-down 5"></span></a>
                    <ul class="SSD-show">
                        <li><a href="#" class="SSD_SATA-btn">2.5吋 SATA<span class="fas fa-caret-down 5-1"></span></a>
                            <ul class="SSD_SATA-show">
                                <li><a href="#">500G/512G</a></li>
                                <li><a href="#">1TB(含)以上</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="SSD_M2PCIE-btn">M.2 PCIE<span class="fas fa-caret-down 5-2"></span></a>
                            <ul class="SSD_M2PCIE-show">
                                <li><a href="#">500G/512G</a></li>
                                <li><a href="#">1TB(含)以上</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="SSD_M2SATA-btn">M.2 SATA<span class="fas fa-caret-down 5-3"></span></a>
                            <ul class="SSD_M2SATA-show">
                                <li><a href="#">500G/512G</a></li>
                                <li><a href="#">1TB(含)以上</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#">電源供應器</a></li>
                <li><a href="#">電腦機殼</a></li>
                <li><a href="#">螢幕</a></li>
            </ul>
        </nav>
    </div>

    <script>
        // // 中央處理器
        // $('.CPU-btn').click(function() {
        //     $('nav ul .CPU-show').toggleClass("show1");
        //     $('nav ul .1').toggleClass("rotate");
        // });
        // $('.CPU_INTEL-btn').click(function() {
        //     $('nav ul .CPU_INTEL-show').toggleClass("show1-1");
        //     $('nav ul .1-1').toggleClass("rotate");
        // });
        // $('.CPU_AMD-btn').click(function() {
        //     $('nav ul .CPU_AMD-show').toggleClass("show1-2");
        //     $('nav ul .1-2').toggleClass("rotate");
        // });

        // // 主機板
        // $('.MB-btn').click(function() {
        //     $('nav ul .MB-show').toggleClass("show2");
        //     $('nav ul .2').toggleClass("rotate");
        // });
        // $('.MB_Intel-btn').click(function() {
        //     $('nav ul .MB_INTEL-show').toggleClass("show2-1");
        //     $('nav ul .2-1').toggleClass("rotate");
        // });
        // $('.MB_AMD-btn').click(function() {
        //     $('nav ul .MB_AMD-show').toggleClass("show2-2");
        //     $('nav ul .2-2').toggleClass("rotate");
        // });

        // // 記憶體
        // $('.RAM-btn').click(function() {
        //     $('nav ul .RAM-show').toggleClass("show3");
        //     $('nav ul .3').toggleClass("rotate");
        // });

        // // 顯示卡
        // $('.VGA-btn').click(function() {
        //     $('nav ul .VGA-show').toggleClass("show4");
        //     $('nav ul .4').toggleClass("rotate");
        // });
        // $('.VGA_NVIDIA-btn').click(function() {
        //     $('nav ul .VGA_NVIDIA-show').toggleClass("show4-1");
        //     $('nav ul .4-1').toggleClass("rotate");
        // });
        // $('.VGA_AMD-btn').click(function() {
        //     $('nav ul .VGA_AMD-show').toggleClass("show4-2");
        //     $('nav ul .4-2').toggleClass("rotate");
        // });

        // // SSD固態硬碟
        // $('.SSD-btn').click(function() {
        //     $('nav ul .SSD-show').toggleClass("show5");
        //     $('nav ul .5').toggleClass("rotate");
        // });
        // $('.SSD_SATA-btn').click(function() {
        //     $('nav ul .SSD_SATA-show').toggleClass("show5-1");
        //     $('nav ul .5-1').toggleClass("rotate");
        // });
        // $('.SSD_M2PCIE-btn').click(function() {
        //     $('nav ul .SSD_M2PCIE-show').toggleClass("show5-2");
        //     $('nav ul .5-2').toggleClass("rotate");
        // });
        // $('.SSD_M2SATA-btn').click(function() {
        //     $('nav ul .SSD_M2SATA-show').toggleClass("show5-3");
        //     $('nav ul .5-3').toggleClass("rotate");
        // });


        // $('nav ul li').click(function() {
        //     $(this).addClass("active").siblings().removeClass("active");
        // });
        /* 商品數量增減，開始 */
        // $(document).ready(function() {
        //     const minus = $('.quantity__minus');
        //     const plus = $('.quantity__plus');
        //     const input = $('.quantity__input');
        //     minus.click(function(e) {
        //         e.preventDefault();
        //         var value = input.val();
        //         if (value > 1) {
        //             value--;
        //         }
        //         input.val(value);
        //     });

        //     plus.click(function(e) {
        //         e.preventDefault();
        //         var value = input.val();
        //         value++;
        //         input.val(value);
        //     })
        // });
        /* 商品數量增減，結束 */


        // window.onload = function() {
        //     var getUrlString = location.href;
        //     var url = new URL(getUrlString);
        //     var target = url.searchParams.get("id")
        //         // var jj = '123'
        //     alert(target);
        //     $.ajax({
        //         url: "/api/product_info/product_description",
        //         // 將資料傳到/product_info/product_description
        //         type: "GET",
        //         /*採用GET方法提交*/
        //         dataType: "json",
        //         data: {
        //             "id": target
        //         },
        //         success: function product_info(result) {
        //             // var abc = JSON.stringify(result);
        //             // alert(abc);

        //         }
        //     });
        // }
    </script>
    <script src="/static/js/product_description.js"></script>

</body>

</html>